/* Start Of Varibles */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --padding-section: 60px;
}
/* End Of Varibles */
/* Start of Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.parent {
  background-color: #eee;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End of Global Rules */
/* Start Of Coumpound */
.special-heading {
  color: #ebeced;
  font-weight: 800;
  font-size: 100px;
  text-align: center;
  margin: 0;
  letter-spacing: -3px;
}
.special-heading + p {
  color: #777;
  margin-top: -30px;
  text-align: center;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End Of Coumpound */
/* Start Of Header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.header .links .icon span {
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  background-color: #333;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
.header .links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  min-width: 200px;
  display: none;
  z-index: 1;
}
.header .links:hover ul {
  display: block;
}
.header .links ul::before {
  content: "";
  width: 0;
  height: 0;
  border-width: 10px;
  border-color: transparent transparent #f6f6f6 transparent;
  border-style: solid;
  position: absolute;
  top: -20px;
  right: 5px;
}
.header .links ul li a {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: #333;
  width: 100%;
  transition: 0.3s;
}
.header .links:hover ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End Of Header */
/* Start Of Landing */
.landing {
  height: calc(100vh - 64px);
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 350px;
  max-width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.landing .intro-text h1 {
  font-size: 50px;
  color: var(--main-color);
  margin: 0;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
/* End Of Landing */
/* Strat Of Feature */
.feature {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  background-color: #f6f6f6;
}
.feature .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.feature .container .card {
  padding: 20px;
  text-align: center;
}
.feature .container .card i {
  color: var(--main-color);
}
.feature .container .card h3 {
  font-weight: 800;
  margin: 30px 0;
}
.feature .container .card p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
/* End Of Feature */
/* Start Of Service */
.service {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
.service .container .service-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.service .container .service-content .col .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .service .container .service-content .col .srv {
    flex-direction: column;
    text-align: center;
  }
}
.service .container .service-content .col .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.service .container .service-content .col .srv .text {
  flex: 1;
}
.service .container .service-content .col .srv .text h3 {
  margin: 0 0 20px;
}
.service .container .service-content .col .srv .text p {
  font-weight: 400;
  line-height: 1.8;
  color: #777;
}
.service .container .service-content .col .image::before {
  content: "";
  width: 100px;
  height: calc(100% + 100px);
  background-color: var(--secondary-color);
  position: absolute;
  right: 0;
  top: -50px;
  z-index: -1;
}
.service .container .service-content .col .image {
  text-align: center;
  position: relative;
}
@media (max-width: 1199px) {
  .service .container .service-content .col .image {
    display: none;
  }
}
.service .container .service-content .col .image img {
  width: 260px;
}
/* End Of Service */
/* Start Of Portofolio */
.portofolio {
  background-color: #f6f6f6;
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
.portofolio .container .portofolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.portofolio .container .portofolio-content .card {
  background-color: white;
}
.portofolio .container .portofolio-content .card img {
  width: 100%;
}
.portofolio .container .portofolio-content .card .info {
  padding: 20px;
}
.portofolio .container .portofolio-content .card .info h3 {
  margin: 0;
}
.portofolio .container .portofolio-content .card .info p {
  color: #777;
  line-height: 1.8;
  margin-bottom: 0;
}
/* End Of Portofolio */
/* Start Of About  */
.about {
  padding-top: var(--padding-section);
  padding-bottom: calc( var(--padding-section) + 60px );
}
.about .about-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
}
@media ( max-width: 991px ) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image::before {
  content: "";
  background-color: #ebeced;
  width: 100px;
  height: calc( 100% + 80px );
  position: absolute;
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .about-content .image  {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px ) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}
.about .about-content .image img {
  width: 100%;
}
.about .about-content .image::after {
  content: "";
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  position: absolute;
  top: -40px;
  right: -140px;
  z-index: -1;
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .text {
  flex-basis: calc( 100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  color: var(--secondary-color);
  line-height: 1.8;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  display: inline-block;
  width: 50%;
  border-color: var(--main-color);
}
.about .about-content .text hr + p {
  color: #777;
  line-height: 1.8;
}
/* End Of About  */
/* Start Of Contact */
.contact {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  background-color: #f6f6f6;
}
.contact .info {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  text-align: center;
}
.contact .info .label {
  font-size: 35px;
  color: var(--secondary-color);
  font-weight: 800;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .label + a {
  display: block;
  text-decoration: none;
  font-weight: 800;
  color: var(--main-color);
  font-size: 35px;
  cursor: pointer;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin-top: 20px;
}
.contact .info .social a i {
  margin-left: 10px;
  color: var(--secondary-color);
  text-decoration: none;
}
/* End Of Contact */
/* Start Of Footer */
.footer {
  background-color: var(--secondary-color);
  padding: 25px;
  text-align: center;
  color: white;  
  font-size: 20px;
}
.footer span {
  color: var(--main-color);
  font-weight: bold;
}
/* End Of Footer */